<app-menu-topo>
  
  <div class="Cards">
    <mat-toolbar class="titulo">
          <span>Dashboard</span>
        </mat-toolbar>    
    <div class="cardglobal">        
        <div class="card-one-top">
          <div class="card-one">
            <div class="card-body-one">
              <h5 class="card-title">Coleções</h5>
              <h6 class="card-subtitle">{{ numeroDeColecoes }}</h6>                      
            </div>
          </div>        
        </div>
        <div class="card-one-two">
          <div class="card-two">
            <div class="card-body-two">
              <h5 class="card-title">Modelos</h5>
              <h6 class="card-subtitle">{{numeroDeModelos}}</h6>                  
            </div>
        </div>   
        </div>
        <div class="card-one-three">
          <div class="card-three">
            <div class="card-body-three">
              <div id="one">
              <h5 class="card-title">Orçamento Médio (R$)</h5>
              <h6 class="card-subtitle-sub-one">{{ randonone }}</h6>
              </div>
              <div id="two">
              <h6 class="card-subtitle-sub-two"><i class="fa-sharp fa-solid fa-arrow-up fa-bounce fa-2xs" style="color: #37ff00;"></i>{{ randontwo }}%</h6>       
              <h6 class="card-subtitle-sub-three" *ngFor="let format of formatsDateTest">Comparado com {{ dateNow | date: format }}</h6>   

            </div>                     
          </div>            
       </div>   
      </div>
    </div>       
  </div>
    <div class="card-master">
      <div class="card-one-four">
        <div class="card-four">          
            <h5 class="card-title-four">Maiores Orçamentos</h5>
          </div>  
            <div class="card-body-four">
                    <table class="table">
                      <thead class="thead-light text-center">
                        <tr>
                          <th class="w-40">ID</th>
                          <th class="w-40">Coleção</th>
                          <th class="w-40">Orçamento</th>
                          <th class="w-40">Responsável</th>
                        </tr>
                      </thead>
            
                      <tbody>                        
                        <tr *ngFor="let colecoes of colecoes">
                          <td >{{colecoes.id}}</td>
                          <td>{{colecoes.colecao}}</td>
                          <td>{{colecoes.orcamento}}</td>
                          <td>{{colecoes.responsavel}}</td>                          
                        </tr>
                        

                       
                      </tbody>
                    </table>
              </div>
        </div>
      </div>         
 
</app-menu-topo>