<app-menu-topo>
    <table mat-table [dataSource]="modelos" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Modeloid Column -->
      <ng-container matColumnDef="Modeloid">
        <th mat-header-cell *matHeaderCellDef> ModeloID </th>
        <td mat-cell *matCellDef="let modelos"> {{modelos.Modeloid}} </td>
      </ng-container>
    
      <!-- Nomedoproduto Column -->
      <ng-container matColumnDef="Nomedoproduto">
        <th mat-header-cell *matHeaderCellDef> Nome do modelo </th>
        <td mat-cell *matCellDef="let modelos"> {{modelos.Nomedoproduto}} </td>
      </ng-container>
    
      <!-- Responsavel Column -->
      <ng-container matColumnDef="Responsavel">
        <th mat-header-cell *matHeaderCellDef> Responsável </th>
        <td mat-cell *matCellDef="let modelos"> {{modelos.Responsavel}} </td>
      </ng-container>
    
      <!-- Colecao Column -->
      <ng-container matColumnDef="Colecao">
        <th mat-header-cell *matHeaderCellDef> Coleção </th>
        <td mat-cell *matCellDef="let modelos"> {{modelos.Colecao}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
     
  </app-menu-topo>