<div class="global">
    <nav class="logo">
        <h1 class=""><img src="/assets/Login/logo.png"></h1>
    </nav>

    <br>

   <div class="container">
        <div class="card" >
            <div class="card-block">
                    <h4 class="card-title">Sign In</h4>
                <div class="cards">
                    <form [formGroup]="f" novalidate (ngSubmit)="onSubmit()">
                        <div class="form-group" [class.has-danger]="((f.get('email').hasError('required') || f.get('email').hasError('email')) 
                        && f.get('email').hasError('email') )&& f.get('email').touched">

                            <label for="exampleInputEmail1">Insira suas credenciais para acessar sua conta</label>
                            <br>
                            <br>
                            <br>
                            <input formControlName="email" [(ngModel)]="usuario.email" type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">

                            <div *ngIf="f.get('email').hasError('required') && f.get('email').touched" class="form-control-feedback">
                                E-mail exigido!
                            </div>
                        
                            <div *ngIf="f.get('email').hasError('email') && f.get('email').touched" class="form-control-feedback">
                                Esse não é um email válido!
                            </div> 
                            
                        </div>
                        
                        <div class="form-group" [class.has-danger]="(f.get('password').hasError('required') || f.get('password').hasError('minlength')) && f.get('password').touched">

                            <label for="exampleInputPassword1"></label>

                            <input formControlName="password" [(ngModel)]="usuario.password" type="password" class="form-control" id="exampleInputPassword1" 
                            [class.form-control-danger]="f.get('password').hasError('required') && f.get('password').touched"
                            placeholder="Informe sua senha">
            
                                <div *ngIf="f.get('password').hasError('required') && f.get('password').touched" class="form-control-feedback">
                                    Senha exigida
                                </div>

                                <div *ngIf="f.get('password').hasError('minlength') && f.get('password').touched" class="form-control-feedback">
                                Sua senha deve conter 8 itens, vamos lá!
                                </div>

                                <div *ngIf="f.get('password').hasError('maxlength') && f.get('password').touched" class="form-control-feedback">
                                    Sua senha deve conter 8 itens, não precisa tanto!
                                </div>

                        </div >  
                        <button class="btn" type="submit" class="btn btn-primary" >
                            Entrar
                        </button>
                        
                        <button type="submit" (click)="onReset()" class="btn">
                            Limpar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="recover">
            <div class="Redefinir">
                <p>Esqueceu sua senha? <a href="" routerLink="redefinirSenha">Redefinir Senha</a></p>
            </div>
            
            <div class="Cadastro">
                <p>Ainda não tem uma conta? <a href="" routerLink="cadastro">Cadastre-se</a></p>
            </div>
        </div>
    </div>
<div>
