<app-menu-topo>
  
    <div class="Cards">
      <mat-toolbar class="titulo">
            <span>Editar Modelo</span>          
      </mat-toolbar>   
    </div>  
    <div class="card-one-four">        
        <form id='form' [formGroup]="f"  (ngSubmit)="onSubmit()">  
            <div class="card-block">
                <div class="group">              
                <div class="form-group">
                    <input formControlName="nome" type="text" class="form-place" placeholder="Nome do Modelo">  
                    <div *ngIf="f.get('nome').hasError('required') && f.get('nome').touched" class="form-control-feedback">
                        Insira algum nome!
                    </div>
                </div>                  
                <div class="input-field" >
                    <select >
                      <option id="input-place" value="" disabled selected>Selecione a Coleção</option>
                    </select>                    
                </div>  
                <div class="radius-control">
                    <h3 class="radius-text">Possui bordado?</h3>
                    <div class="radius-intern">
                        <p>
                            <input class="with-gap" name="group3" type="radio" id="test4" checked />
                            <label for="test5">Sim</label>
                            <input class="with-gap" name="group3" type="radio" id="test5" checked />
                            <label for="test5">Não</label>
                        </p>
                    </div>                    
                </div>                
            </div>
            
            <div class="card-block2"> 
                <div class="input-field2" >
                    <select >
                      <option value="" disabled selected>Tipo do modelo</option>                     
                    </select>                    
                </div>                  
                <div class="form-group2">
                    <input formControlName="nome" type="text" class="form-place2" id="" placeholder="Responsável do modelo">  
                    <div *ngIf="f.get('nome').hasError('required') && f.get('nome').touched" class="form-control-feedback">
                        Insira algum nome!
                    </div>
                </div>                  
                <div class="radius-control2">
                    <h3 class="radius-text2">Possui estampa?</h3>
                    <div class="radius-intern2">
                        <p>
                            <input class="with-gap" name="group4" type="radio"  checked />
                            <label for="test5">Sim</label>
                            <input class="with-gap" name="group4" type="radio"  checked />
                            <label for="test5">Não</label>
                        </p>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="buttons">
            <tr *ngFor="let modelos of modeloss"></tr>         
            <div ><button  type="submit" id="remove" class="btn btn-primary" (click)="deletaModelo(mOdelos)">Excluir</button></div>           
            <div><button  type="submit" id="create" class="btn btn-primary">Atualizar</button></div>
            <div><button  type="submit" id="reset" class="btn btn-primary" (click)="onReset()" >Limpar</button></div>
            <div><button  type="submit" id="back" class="btn" routerLink="../modelos" >Cancelar</button></div>
    
        </div>
        <!-- <div ><button *ngFor="let modelos of modeloss" type="submit" id="remove" (click)="deletaModelo(modelos)" class="btn" >Excluir</button></div>
        <div><button  type="submit" id="create" class="btn btn-primary" >Atualizar</button></div>
        <div><button  type="submit" id="reset" class="btn btn-primary" (click)="onReset()" >Limpar</button></div>
        <div><button  type="submit" id="back" class="btn" routerLink="../modelos">Cancelar</button>          </div> -->
        </form>
    </div>      
  </app-menu-topo>