<app-menu-topo>
  
  <div class="Cards">
    <mat-toolbar class="titulo">
          <span>Criar Modelo</span>          
    </mat-toolbar>   
  </div>  
  <div class="card-one-four">        
      <form id='form' [formGroup]="f"  (ngSubmit)="onSubmit()">  
          <div class="card-block">
              <div class="group">              
              <div class="form-group">
                  <input formControlName="nomedoproduto" type="text" class="form-place" placeholder="Nome do Modelo">  
                  <div *ngIf="f.get('nomedoproduto').hasError('required') && f.get('nomedoproduto').touched" class="form-control-feedback">
                      Insira algum nome!
                  </div>
              </div>                  
              <div class="input-field" >
                  
                <div class="col">
                    <select required class="form-control" id="estado" formControlName="colecao" type="text">   
                        <input formControlName="modelo.colecao" type="text" class="form-place" placeholder="Nome do Modelo">                    
                      <option value="" selected>Selecionar coleção</option>
                      <option value="1" *ngFor="let modelo of modeloss | async " >{{ modelo.colecao }}</option>
                    </select>
                </div> 
              </div>  
              <div class="radius-control">
                  <h3 class="radius-text">Possui bordado?</h3>
                  <div class="radius-intern">
                      <p>
                          <input class="with-gap" name="group3" type="radio" id="test4" checked />
                          <label for="test5">Sim</label>
                          <input class="with-gap" name="group3" type="radio" id="test5" checked />
                          <label for="test5">Não</label>
                      </p>
                  </div>                    
              </div>                
          </div>
          
          <div class="card-block2"> 
              <div class="input-field2" >
                <select >
                    <option value="" disabled selected>Tipo do modelo</option>
                    <option value="1">bermuda</option>
                    <option value="2">biquini</option>
                    <option value="3">bolsa</option>
                    <option value="4">boné</option>
                    <option value="5">calça</option>
                    <option value="6">calçados</option>
                    <option value="7">camisa</option>
                    <option value="8">chapéu</option>
                    <option value="9">saia</option>
                  </select>                     
              </div>                  
              <div class="form-group2">
                  <input formControlName="responsavel" type="text" class="form-place2" id="" placeholder="Responsável do modelo">  
                  <div *ngIf="f.get('responsavel').hasError('required') && f.get('responsavel').touched" class="form-control-feedback">
                      Insira algum nome!
                  </div>
              </div>                  
              <div class="radius-control2">
                  <h3 class="radius-text2">Possui estampa?</h3>
                  <div class="radius-intern2">
                      <p>
                          <input class="with-gap" name="group4" type="radio"  checked />
                          <label for="test5">Sim</label>
                          <input class="with-gap" name="group4" type="radio"  checked />
                          <label for="test5">Não</label>
                      </p>
                  </div>                    
              </div>
          </div>
      </div>
      <div class="buttons">
         <div><button  type="submit" id="create" class="btn btn-primary" >Salvar</button></div>
         <div><button  type="submit" id="reset" class="btn btn-primary" (click)="onReset()" >Limpar</button></div>
         <div><button  type="submit" id="back" class="btn" routerLink="../modelos">Cancelar</button>          </div>
    </div> 
    
  </form>
  </div>      
</app-menu-topo>