<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar">    
    <div class="container">
      <div class="dropdown">
        <a class="toggl"><button class="btn" id="menu-toggle"><i class="fa-solid fa-toggle-off fa-2xl" style="color: #d9d9d9;"></i></button></a>
        <a class="bell" href="#"><i class="fa-solid fa-bell fa-2xl" style="color: #d9d9d9;"></i></a>
        <a class="img" href="#"><img class="user2" src="/assets/Elementos/user.png"></a>

        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        </button>
        <ul class="dropdown-menu">
          <li><a class="text1" href="#"><i class="fa-solid fa-person fa-xl"></i>Conta</a></li>
          <li><a class="text2" href="#"><i class="fa-solid fa-sliders fa-xl"></i>Configurações</a></li>
          <li><a class="text3" href="/"><i class="fa-solid fa-right-to-bracket fa-xl"></i> Sair</a></li>
        </ul>
      </div>
    </div>

  </nav>