<div class="global">
   <nav class="logo">
        <h1 class=""><img src="/assets/Login/logo.png"></h1>
    </nav>

    <br>

   <div class="container">
        <div class="card" >
            <div class="card-block">                
                    <h4 class="card-title"><a href=""><img src="/assets/Login/arrow.png" *ngFor="let email of emails" (click)="deletaEmail(email)" class="arrow" routerLink="login"></a>Redefinir Senha<a href=""></a></h4>
                <div class="cards">

                        <label class="txt" for="exampleInputEmail1">Um link para redefinição de senha foi enviado para </label>
                            <p class="txt" *ngFor="let email of emails">{{email.name}}</p>
                       
                        <br>

                        <tr *ngFor="let email of emails">
                            <td>
                        <button type="submit" class="btn btn-primary" (click)="deletaEmail(email)">Ir para login</button>
                        
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>
