<div class="global">
   <nav class="logo">
        <h1 class="navbar-brand mb-0"><img src="/assets/Login/logo.png"></h1>
    </nav>

    <br>

   <div class="container">
        <div class="card" >
            <div class="card-block">                
                    <h4 class="card-title"><a href=""><img src="/assets/Login/arrow.png" class="arrow" routerLink="login"></a>Redefinir Senha<a href=""></a></h4>
                <div class="cards">

                        <label for="exampleInputEmail1">Um link para redefinição de senha foi enviado para o e-mail x.y.z@gmail.com.</label>
                        <br>


                        <button type="submit" (click)="onSubmit(externalValidate)" class="btn btn-primary" routerLink="login">Ir para login</button>
                </div>
            </div>
        </div>
    </div>
</div>