.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 332px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

//Lateral Menu Orientações

.logomain{
  display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
}

.logo{
  margin-top: 51px;
  width: 168.07px;
  height: 40px;
  background: #FFFFFF;
}

.sidebar-heading{
  position: relative;
    width: 332px;
    height: 982px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: flex-start;
    border-right: 1.75px solid #F0F0F0;

}

#menu{
  margin-top:140px ;
  color: #B4B6C1;
  height: 17px;
  font-size: 14px;
  background: #FFFFFF;
  padding-bottom: 50px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 40px;
}

.list{
  background: #FFFFFF;
  // width: 72px;
  // margin-right: 40px;
  justify-content: center;
  align-items: center;
}

.list-group-item{
  color: #A4A4A4;;
  background-color: #FFFFFF;
  border: none;
  width: 252.07px;
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 30px;
  // padding-bottom: 56px;
  
  
 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  
  text-align: center;
}

.list-group-item:hover{ 

  color: #A4A4A4;;
  background-color: #FFFFFF;
  border: none;
  width: 252.07px;
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 30px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-self: center;  
  background: #4C68FF;
  color: #ffffff;;

  border-radius: 7px;

}

//fim 

//Menu superior
#navbar{
  background-color: #FFFFFF;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row-reverse;
  height: 120px;
  width: 100%;
  padding-right: 30px;
  }

  .fa-solid{
  background-color: #FFFFFF;
  
  }
  .container{
  display: flex;
  flex-direction: row;

  background-color: #FFFFFF;
  
  }
  .bell{
  background-color: #FFFFFF;
  padding-right: 40px;
  }
  
  .user2{
  height: 60px;
  width: 60px;
  background-color: #FFFFFF;
  }
  
  button{
    color:
    #9395A3;
  }

//fim 
  
//Dropdown

ul{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
 }

li{
  color: #2B2C33;
  display: flex;
  align-items: center;
}

.dropdown-item{
  display: flex;
  justify-content: flex-start;
}


#button-alignment{
  background-color: #FFFFFF;
  border: none;
  text-align: center;
  padding-right: 15px;
  color: #9395A3;
}

#button-alignment:hover{
  background-color: #2B2C33;
  color: #FFFFFF;
  border: none;
}
//fim 