<mat-sidenav-container class="sidenav-container">
     <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
          <div class="logomain"><img class="logo" src="/assets/Elementos/logoname.png"> </div>
          <mat-toolbar id="menu">MENU</mat-toolbar>
          <mat-nav-list id="list">
            <a href="/dashboard" class="list-group-item">Dashboard</a>
            <a href="/colecoes" class="list-group-item">Coleções</a>
            <a href="/modelos" class="list-group-item">Modelos</a>
            <a href="/" class="list-group-item">Obter Ajuda</a>
            <a href="/" class="list-group-item">Comentários</a>  

          </mat-nav-list>
      </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar id="navbar">
          <div class="espace">         
          
            <a class="bell" href="#"><i class="fa-solid fa-bell fa-shake fa-xl" style="color: #d9d9d9;"></i></a>
            <a class="img" href="#"><img class="user2" src="/assets/Elementos/user.png"></a>        

            <div class="btn-group" dropdown placement="bottom right">
              <button id="button-alignment" dropdownToggle type="button"
                      class="btn btn-primary dropdown-toggle" aria-controls="dropdown-alignment">
              <span class="caret"></span>
              </button>
              <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                  role="menu" aria-labelledby="button-alignment">
                  <li role="menuitem"><i class="fa-solid fa-user-large fa-xl"></i><a class="dropdown-item" href="#">Conta</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><i class="fa-solid fa-sliders fa-xl"></i><a class="dropdown-item" href="#">Configurações</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><i class="fa-solid fa-right-to-bracket fa-xl"></i><a class="dropdown-item" href="#">Sair</a></li>
              </ul>
            </div>
          </div>
          
        </mat-toolbar>
      <!-- Add Content Here -->
      <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
