//Lateral Menu Orientações

.logomain{
  display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
}

.logo{
  margin-top: 51px;
  width: 168.07px;
  height: 40px;
  background: #FFFFFF;
}

.sidebar-heading{
  position: relative;
    width: 332px;
    height: 982px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: flex-start;
    border-right: 1.75px solid #F0F0F0;

}

.toptext{
  margin-top:140px ;
  color: #B4B6C1;
  height: 17px;
  font-size: 14px;
  background: #FFFFFF;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.list-group{
  background: #FFFFFF;
  width: 72px;
  padding-left: 10px;
}

.list-group-item{
  margin: 10px 25px 10px 5px;
  padding: 10px;
  color: #A4A4A4;;
  background-color: #FFFFFF;
  border: none;
  
 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-start;
}

.list-group-item:hover{
  width: 252.07px;
  height: 50px;
  padding-right: 15px;

  background: #4C68FF;
  border-radius: 7px;
  color: #FFFFFF;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;
  
}

//fim menu Lateral Menu Orientações
