*{
  background-color: #D9D9D9;
;
}
body {
    overflow-x: hidden;
    
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;

  }

  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }

  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  #page-content-wrapper {
    min-width: 100vw;
   
  }


  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }


//Lateral Menu Orientações

.logomain{
  display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: center;
}

.logo{
  margin-top: 51px;
  width: 168.07px;
  height: 40px;
  background: #FFFFFF;
}

.sidebar-heading{
  position: relative;
    width: 332px;
    height: 982px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    align-items: flex-start;
    border-right: 1.75px solid #F0F0F0;

}

.toptext{
  margin-top:140px ;
  color: #B4B6C1;
  height: 17px;
  font-size: 14px;
  background: #FFFFFF;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.list-group{
  background: #FFFFFF;
  width: 72px;
  padding-left: 10px;
}

.list-group-item{
  margin: 10px 25px 10px 5px;
  padding: 10px;
  color: #A4A4A4;;
  background-color: #FFFFFF;
  border: none;
  
 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: flex-start;
}

.list-group-item:hover{
  width: 252.07px;
  height: 50px;
  padding-right: 15px;

  background: #4C68FF;
  border-radius: 7px;
  color: #FFFFFF;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-right: 20px;
  
}

//fim menu Lateral Menu Orientações
//Navbar configs
.navbar{
background-color: #FFFFFF;
box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.12);
display: flex;
align-items: flex-end;
padding: 30px;
height: 120px;
width: 100%;
}

// .btn{
//   align-items: flex-start ;
//   justify-content: flex-start;
// }

// .nav-link{
//   background-color: #FFFFFF;
//   border: none;
//   flex-direction: row;
  
// }
// .nav-item1 i{
//   height: 50px;
//   width:50px;
//   background-color: #FFFFFF;
  
// }

.fa-solid{
  
  background-color: #FFFFFF;

}
.container{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: #FFFFFF;

}
.bell{
  background-color: #FFFFFF;
  padding-right: 60px;
}

.dropdown{
  background-color: #FFFFFF;
}

.user2{
  height: 60px;
  width: 60px;
  background-color: #FFFFFF;
}

.dropdown-menu{
  padding: 16px;
  gap: 16px;
  background-color: #FFFFFF;
  border-bottom: #9395A3;
  
}

// .btn{
//   background-color: #FFFFFF;
//   color: #D9D9D9;
//   border: none;
 
// }

// .btn:hover{
//   border: 1.5px solid #9395A3;
//   transform: matrix(-1, 0, 0, 1, 0, 0);
//   background-color: #D9D9D9;
//   color: #FFFFFF;

// }

// .text{
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 16px;
//   background-color: #FFFFFF;
//   padding: 5px;
//   border-bottom: #9395A3;
// }

// .li{
// justify-content: space-between;
// border-bottom: #A4A4A4;
// }