<head>
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="logomain"><img class="logo" src="/assets/Elementos/logoname.png"> </div>
      <div class="sidebar-heading">
      <div class="list-group">
        <h3 class="toptext">MENU</h3>
        <a href="/dashboard" class="list-group-item">Dashboard</a>
        <a href="/colecoes" class="list-group-item">Coleções</a>
        <a href="/modelos" class="list-group-item">Modelos</a>
        <a href="/faq" class="list-group-item">Obter Ajuda</a>
        <a href="/comentarios" class="list-group-item">Comentários</a>
      </div>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg">
        <!-- <button class="btn" id="menu-toggle">Toggle Menu</button> -->

     
        <div class="container">
          <div class="dropdown">
            <a class="bell" href="#"><i class="fa-solid fa-bell fa-1xl" style="color: #d9d9d9;"></i></a>
            <a class="img" href="#"><img class="user2" src="/assets/Elementos/user.png"></a>

            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            </button>
            <ul class="dropdown-menu">
              <li><a class="text1" href="#"><i class="fa-solid fa-person fa-xl"></i>Conta</a></li>
              <li><a class="text2" href="#"><i class="fa-solid fa-sliders fa-xl"></i>Configurações</a></li>
              <li><a class="text3" href="login"><i class="fa-solid fa-right-to-bracket fa-xl"></i> Sair</a></li>
            </ul>
          </div>
        </div>

      </nav>
      <div>
  
      </div>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

 