
  <div class="d-flex">
    <!-- Sidebar -->
    <div class="sidebarwrapper" id="">
      <div class="logomain"><img class="logo" src="/assets/Elementos/logoname.png"> </div>
      <div class="sidebar-heading">
        <div class="list-group">
          <h3 class="toptext">MENU</h3>
          <a href="/dashboard" class="list-group-item">Dashboard</a>
          <a href="/colecoes" class="list-group-item">Coleções</a>
          <a href="/modelos" class="list-group-item">Modelos</a>
          <a href="/faq" class="list-group-item">Obter Ajuda</a>
          <a href="/comentarios" class="list-group-item">Comentários</a>
        </div>
      </div>
    </div>
  </div>

 