<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- colecao Column -->
    <ng-container matColumnDef="colecao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Coleção</th>
      <td mat-cell *matCellDef="let row">{{row.colecao}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="responsavel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Responsável</th>
      <td mat-cell *matCellDef="let row">{{row.responsavel}}</td>
    </ng-container>

    <ng-container matColumnDef="estacao">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estação - Lançamento</th>
      <td mat-cell *matCellDef="let row">{{row.estacao}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelos</th>
      <td mat-cell *matCellDef="let row">{{row.modelo}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="orcamento">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Orçamento</th>
      <td mat-cell *matCellDef="let row">{{row.orcamento}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
